---
layout: archive
title: "Group Members"
permalink: /group/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<div style="text-align: justify;">
<strong>Xiaopeng Xi</strong>, Post-doctoral researcher<br>

<strong>Education</strong><br>
<ul>
<li>Ph.D. in Control Science and Engineering, Tsinghua University, 2020
</li>
<li>B.Eng. in Detection Guidance and Control Technology, Beijing Institute of Technology, 2015
</li>
</ul>

<strong>Awards</strong><br>
<ul>
<li>Synchronous control and running safety monitoring theory of complicated cyber-physical group systems, Chinese Association of Automation Natural Science Award, 2019
</li>
</ul>


<strong>Co-supervised & Collaborated Students</strong><br>

<ul>
<li>Xiangyu Wang, Ph.D. student, remaining useful life prediction
</li>
<li>Shaozhi Chen, Ph.D. student, fault diagnosis
</li>
<li>Xin Zhang, M.Eng. student, running status monitoring
</li>
<li>Huixin Zhang, M.Eng. student (graduated), remaining useful life prediction
</li>

</div>
