<!-- 这是一个注释，不会显示在页面上 
---
layout: archive
title: "Group Members"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

-->

---
layout: archive
title: "Group Members"
permalink: /portfolio/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<strong>Xiaopeng Xi</strong>

Education
======
* Ph.D in Control Science and Engineering, Tsinghua University, 2020
* B.Eng. in Detection Guidance and Control Technology, Beijing Institute of Technology, 2015

Awards
======
* Synchronous control and running safety monitoring theory of complicated cyber-physical group systems, Chinese Association of Automation Natural Science Award, 2019


