---
layout: archive
title: "Group Members"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<strong>Xiaopeng Xi</strong>, Post-doctoral researcher<br>

<strong>Education</strong><br>
Ph.D. in Control Science and Engineering, Tsinghua University, 2020<br>
B.Eng. in Detection Guidance and Control Technology, Beijing Institute of Technology, 2015<br>

<strong>Awards</strong><br>
Synchronous control and running safety monitoring theory of complicated cyber-physical group systems, Chinese Association of Automation Natural Science Award, 2019

<strong>Co-supervised & collaborated students</strong><br>

Xiangyu Wang, Ph.D. student, remaining useful life prediction<br>
Shaozhi Chen, Ph.D. student, fault diagnosis<br>
Xin Zhang, M.Eng. student, running status monitoring<br>
Huixin Zhang, M.Eng. student (graduated), remaining useful life prediction

