---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


<strong>Journal Papers</strong>

[1] H. Zhang, X. Xi*, R. Pan. A two-stage data-driven approach to remaining useful life prediction via long short-term memory networks. Reliability Engineering & System Safety, 2023, 237: 109332.

[2] X. Xi, D. Zhou. Prognostics of fractional degradation processes with state-dependent delay. Proceedings of the Institution of Mechanical Engineers, Part O: Journal of Risk and Reliability, 2022, 236(1): 114-124.

[3] X. Xi, D. Zhou, M. Chen, N. Balakrishnan. Remaining useful life prediction for fractional degradation processes under varying modes. The Canadian Journal of Chemical Engineering, 2020, 98(6): 1351-1364.

[4] X. Xi, D. Zhou, M. Chen, N. Balakrishnan, H. Zhang. Remaining useful life prediction for multivariable stochastic degradation systems with non-Markovian diffusion processes. Quality and Reliability Engineering International, 2020, 36(4): 1402-1421.

[5] X. Xi, M. Chen, D. Zhou. Remaining useful life prediction based on multirate sensor measurement data. Control Engineering of China, 2020, 27(5): 771-775. (in Chinese)

[6] X. Xi, M. Chen, D. Zhou. Remaining useful life prediction for multi-component systems with hidden dependencies. Science China Information Sciences, 2019, 62(2): 022202.

[7] X. Xi, M. Chen, H. Zhang, D. Zhou. An improved non-Markovian degradation model with long-term dependency and item-to-item uncertainty. Mechanical Systems and Signal Processing, 2018, 105: 467-480.

[8] X. Xi, M. Chen, D. Zhou. Remaining useful life prediction for degradation processes with memory effects. IEEE Transactions on Reliability, 2017, 66(3): 751-760.

[9] Y. Shao, X. He, B. Zhang, C. Cheng, X. Xi. ES-DLSSVM-based prognostics of rolling element bearings. IEEE Transactions on Reliability, 2024, 73(1): 317-327.

[10] S. Chen, R. Yang, M. Zhong, X. Xi, C. Liu. A random forest and model-based hybrid method of fault diagnosis for satellite attitude control systems. IEEE Transactions on Instrumentation and Measurement, 2023, 72: 3518413.

[11] M. Zhong, Q. Wang, T. Peng, X. Xi, C. Yang, T. Xue. Review of running status monitoring techniques for traction drive systems of high-speed trains. Journal of Shandong University of Science and Technology (Natural Science), 2023, 42(2): 88-97. (in Chinese)

[12] H. Zhang, D. Zhou, M. Chen, X. Xi. Predicting remaining useful life based on a generalized degradation with fractional Brownian motion. Mechanical Systems and Signal Processing, 2019, 115: 736-752.

[13] H. Zhang, M. Chen, X. Xi, D. Zhou. Remaining useful life prediction for degradation processes with long-range dependence. IEEE Transactions on Reliability, 2017, 66(4): 1368-1379.
